### Container:
#### List
#### Tuple
#### Set
#### Dictionary

In [1]:
# List of numbers
listOfNum = [23, 45, 21, 45, 2, 5, 11, 50, 1, 67]
# print the List
print("Initial List", listOfNum,  sep='\n')
print("Sorting the List in ascending Order")
# Create a sorted copy of existing list
newList = sorted(listOfNum)
# print the List
print("New List", newList,  sep='\n')
# print the List
print("Existing List", listOfNum,  sep='\n')
# Sort the List in Place
listOfNum.sort()
# print the List
print("List Sorted in Ascending Order", listOfNum,  sep='\n')
print("Sorting the List in Descending Order")
# Create a sorted copy of existing list
newList = sorted(listOfNum, reverse=True)
# print the List
print("New List", newList,  sep='\n')
# print the List
print("Existing List", listOfNum,  sep='\n')
# Sort the List in Place (Descending Order)
listOfNum.sort(reverse=True)
# print the List
print("List Sorted in Descending Order", listOfNum,  sep='\n')

Initial List
[23, 45, 21, 45, 2, 5, 11, 50, 1, 67]
Sorting the List in ascending Order
New List
[1, 2, 5, 11, 21, 23, 45, 45, 50, 67]
Existing List
[23, 45, 21, 45, 2, 5, 11, 50, 1, 67]
List Sorted in Ascending Order
[1, 2, 5, 11, 21, 23, 45, 45, 50, 67]
Sorting the List in Descending Order
New List
[67, 50, 45, 45, 23, 21, 11, 5, 2, 1]
Existing List
[1, 2, 5, 11, 21, 23, 45, 45, 50, 67]
List Sorted in Descending Order
[67, 50, 45, 45, 23, 21, 11, 5, 2, 1]

In [2]:
mylistN1=[2,4,5,6,8,1,9,7,10,3]

In [3]:
newmylistN1=mylistN1.append(100)

In [4]:
newmylistN1

In [5]:
mylistN1[0]

2

In [6]:
mylistN1[7]

7

In [7]:
mylistN1[-2]

3

In [8]:
mylistN1[0:7]

[2, 4, 5, 6, 8, 1, 9]

In [9]:
mylistN2=[12,14,15,16,18,11,19,17,20,13]

In [10]:
mylistT=[mylistN1,mylistN2]

In [11]:
mylistT

[[2, 4, 5, 6, 8, 1, 9, 7, 10, 3, 100],
 [12, 14, 15, 16, 18, 11, 19, 17, 20, 13]]

In [12]:
mylistT.insert(0,1)

In [13]:
mylistN2.remove(20)

In [14]:
mylistN2

[12, 14, 15, 16, 18, 11, 19, 17, 13]

In [15]:
mylistN2.pop(4)

18

In [16]:
mylistN2

[12, 14, 15, 16, 11, 19, 17, 13]

In [17]:
del mylistN2[2:5]

In [18]:
mylistN2

[12, 14, 19, 17, 13]

In [19]:
mylistN2.extend([100,200,500])

In [20]:
mylistN2

[12, 14, 19, 17, 13, 100, 200, 500]

In [21]:
max(mylistN2)

500

In [22]:
min(mylistN2)

12

In [23]:
sum(mylistN2)

875

In [24]:
mylistN2.sort()

In [25]:
mylistN2

[12, 13, 14, 17, 19, 100, 200, 500]

In [26]:
mylistS1=['Physics','Chemistry','Mathematics']

In [27]:
print(mylistN1)
print(mylistN2)
print(mylistS1)

[2, 4, 5, 6, 8, 1, 9, 7, 10, 3, 100]
[12, 13, 14, 17, 19, 100, 200, 500]
['Physics', 'Chemistry', 'Mathematics']

In [28]:
pp=mylistS1.append('Statistics')

In [29]:
print(pp)

None

In [30]:
denoN=[1,2,5,10,20,50,100]

In [31]:
set_string_Tuple= 'a','b','c','d','e','e','foo'
set_string_Tuple

('a', 'b', 'c', 'd', 'e', 'e', 'foo')

In [32]:
set_number_Tuple= 1,2,5,10,20,50,100
set_number_Tuple

(1, 2, 5, 10, 20, 50, 100)

In [33]:
nested_number_tup = (1,2,5),(10,20,50,100)
nested_number_tup

((1, 2, 5), (10, 20, 50, 100))

In [34]:
nested_string_Tuple= ('a','b','c','d','e'),('e','foo')
nested_string_Tuple

(('a', 'b', 'c', 'd', 'e'), ('e', 'foo'))

In [35]:
set_number_Tuple*2

(1, 2, 5, 10, 20, 50, 100, 1, 2, 5, 10, 20, 50, 100)

In [36]:
set_string_Tuple*2

('a', 'b', 'c', 'd', 'e', 'e', 'foo', 'a', 'b', 'c', 'd', 'e', 'e', 'foo')

In [37]:
seq = [(1, 2, 3), (4, 5, 6), (7, 8, 9)]

In [38]:
for a, b, c in seq:
    print('a={0}, b={1}, c={2}'.format(a, b, c))

a=1, b=2, c=3
a=4, b=5, c=6
a=7, b=8, c=9

In [39]:
len(set_number_Tuple)
len(set_string_Tuple)

7

In [40]:
set_list_string=['a','b','c','d','e','f','g']
set_list_string

['a', 'b', 'c', 'd', 'e', 'f', 'g']

In [41]:
set_list_string[1]

'b'

In [42]:
set_list_number=[1,2,5,10,20,50,100]
set_list_number

[1, 2, 5, 10, 20, 50, 100]

In [43]:
set_list_number[1]

2

In [44]:
set1=range(20)

In [45]:
set1

range(0, 20)

In [46]:
list(set1)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19]

In [47]:
tuple(set1)

(0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19)

In [48]:
list(set1).append(4)

In [49]:
a = [7, 2, 5, 1, 3]

In [50]:
a.sort()

In [51]:
a

[1, 2, 3, 5, 7]

In [52]:
print(a)

[1, 2, 3, 5, 7]

In [53]:
b_list=['foo', 'bar', 'baz']

In [54]:
b_list.append('dwarf')
b_list

['foo', 'bar', 'baz', 'dwarf']

In [55]:
b_list.insert(5, 'red')
b_list

['foo', 'bar', 'baz', 'dwarf', 'red']

In [56]:
b_list.remove('foo')

In [57]:
b_list

['bar', 'baz', 'dwarf', 'red']

In [58]:
b_list.remove('bar')

In [59]:
b_list

['baz', 'dwarf', 'red']

In [60]:
'dwarf' in b_list

True

In [61]:
'dwarf' not in b_list

False

In [62]:
lis11=[4, None, 'foo']
list2=[7, 8, (2, 3)]

In [63]:
[4, None, 'foo']+ [7, 8, (2, 3)]

[4, None, 'foo', 7, 8, (2, 3)]

In [64]:
rr=range(10)

In [65]:
print(rr)

range(0, 10)

In [66]:
list(rr)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [67]:
tuple(rr)

(0, 1, 2, 3, 4, 5, 6, 7, 8, 9)

In [68]:
set(rr)

{0, 1, 2, 3, 4, 5, 6, 7, 8, 9}

In [69]:
quit()